<div class="pt-10">
  <app-header></app-header>
</div>
<div
  class="mx-auto p-4 flex flex-col items-center justify-center min-h-screen overflow-hidden"
>
  <div class="flex flex-col lg:flex-row mb-8 justify-between w-full lg:w-2/3">
    <div
      class="flex flex-col w-full lg:w-[50%] items-center lg:items-start lg:text-left"
    >
      <div class="flex flex-col w-full">
        <h1 class="mt-4 text-[#3D4D66]">
          <span class="text-[2.3rem] block">Quiz Completed</span>
          <span class="text-[2rem] font-bold">Your score is...</span>
        </h1>
      </div>
    </div>
    <div class="flex flex-col items-center w-full lg:w-[50%] mt-8 lg:mt-0">
      <div
        class="topic flex flex-col items-center shadow-lg rounded-2xl p-4 mb-4 w-full bg-white cursor-pointer"
        style="height: 300px"
      >
        <div
          class="text-[#3D4D66] font-medium text-base mb-2 flex items-center justify-center"
        >
          <div
            class="bg-[#F4F6FA] p-2 rounded-lg w-10 h-10 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 40 40"
            >
              <path
                fill="#A729F5"
                d="M16.875 8.125a3.125 3.125 0 1 1 6.25 0 3.125 3.125 0 0 1-6.25 0ZM20 2.5a5.625 5.625 0 0 0-5.475 6.915l-4.03-1.625a4 4 0 0 0-5.19 2.18 3.95 3.95 0 0 0 2.175 5.175l5.02 2.027v5.96l-4.532 8.525a3.98 3.98 0 0 0 7.024 3.738L20 25.975l5.01 9.42a3.978 3.978 0 0 0 7.025-3.735L27.5 23.13v-5.957l5.02-2.028a3.95 3.95 0 0 0 2.175-5.175 4 4 0 0 0-5.19-2.183l-4.027 1.628A5.626 5.626 0 0 0 20 2.5ZM7.618 10.922a1.5 1.5 0 0 1 1.94-.817l8.57 3.463a5 5 0 0 0 3.744 0l8.57-3.463a1.5 1.5 0 0 1 1.94.817 1.45 1.45 0 0 1-.8 1.905l-5.02 2.025A2.5 2.5 0 0 0 25 17.175v5.957c0 .41.1.814.293 1.175l4.535 8.528a1.48 1.48 0 0 1-2.61 1.39l-5.01-9.425a2.5 2.5 0 0 0-4.415 0l-5.008 9.418a1.477 1.477 0 1 1-2.61-1.388l4.532-8.525A2.5 2.5 0 0 0 15 23.133v-5.96a2.5 2.5 0 0 0-1.563-2.318l-5.02-2.03a1.45 1.45 0 0 1-.8-1.902Z"
              />
            </svg>
          </div>
          <span class="ml-2">Accessibility</span>
        </div>
        <div class="text-[#3D4D66] text-[4rem] font-bold">8</div>
        <p class="text-[#3D4D66] text-lg">out of 10</p>
      </div>
      <button
        class="bg-purple-600 text-white font-bold py-2 px-4 rounded-2xl w-full cursor-pointer h-[50px]"
      >
        Play Again
      </button>
    </div>
  </div>
</div>
